/* <style> */
    .body{
        background-color: lightgoldenrodyellow;
    }

    /* Main Content */
    .header{
    height:200px;
    background-color: #e8e4d9;
    border-style:double;
    border-top:none;
    border-bottom:none;
}
.head-pad{
    float:left;
    width:500px;
    color:#e8e4d9;
}
.header-p{
    float:left;
    padding-left:100px;
    padding-top:50px;
    align-content:center;
    /* font-size:75px; */
    /* font-variant-ligatures: additional-ligatures; */
    /* font-family:; */
}
.header-q{
    padding-top:15px;
    float:left;
    width:170px;
    height:170px;
}

/* Registration Main Content */
    .pad{
        padding:100px;
        background-color: lightgoldenrodyellow;
        
    }
    .pad1{
        float:left;
        background-color:lightgoldenrodyellow;
        width:350px;
        height:300px; 
     } 
    .mainreg{
        float:left;
        background-color: #e8e4d9;
        width:900px;
        height:600px;
        border:double;
        border-left:none;
        border-right:none;
        padding-top:0px;
    }

    .p{
        margin-left:40%;
        color :black;
        text-align:center;
        padding-top:10px;
        font-size:20px;
        /* border-style:dashed; */
        padding-bottom:25px;
        width:200px;
        height:20px;
    }
    
    /* Footer */
    .padding{
    background-color:lightgoldenrodyellow;
    height:600px;
    width:200px;
    color:lightgoldenrodyellow;
    float:bottom;
    /* padding-top:100px; */
}
.footer{
     background-color: #e8e4d9;
     border-style:double;
     border-left:none;
     border-right:none;
     border-top:none;
     height:130px;
    float:bottom;
    /* padding-bottom:10px; */ 
}
.br{
    padding:100px;
}
.footer-img{
    padding:5px;
    width:120px;
    height:120px;
    float:left;
}
.symb1{
    height:35px;
    width:35px;
    /* float:right; */
    padding-right:10px;
}
.fb{
    float:right;
    padding-right:50px;
    padding-top:15px;
    font-size:25px;
    /* background-color:#cfc7af; */
    /* text-decoration-line: none;
    color:black; */   
}
.fb-text{
    color:black;
    text-decoration-line: none;
    /* padding-top:10px; */
    padding-bottom:10px;
    /* background-color:#cfc7af; */
    padding-right:10px;
    padding-left:10px;
    
}
.copyright{
    color:grey;
    float:left;
}
/* </style> */
